<!DOCTYPE html>
{% load bootstrap3 %}
{% load staticfiles %}
<html{% if request.LANGUAGE_CODE %} lang="{{ request.LANGUAGE_CODE }}"{% endif %}>

<head>
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Codeforce IT!</title>
    {% bootstrap_css %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% bootstrap_javascript jquery=True %}
    {% block bootstrap3_extra_head %}{% endblock %}
    <link href="{% static "css/styles.css" %}" type="text/css" rel="stylesheet">
    <link rel="icon" type="image/ico" href="{% static "img/favicon.ico" %}"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
</head>

<body>
<header onclick="$('#form').toggle();">
    <div class="container">
        <div class="row text-center">
            <h2>
                Codeforce IT!
            </h2>
        </div>
    </div>
</header>

<div class="container">
    {% block container %}{% endblock %}
    {% block scripts %}{% endblock %}
</div>
</body>

</html>